(proxyheaders) {
	trusted_proxies 0.0.0.0/0
}

{
	auto_https off
	admin off
	log {
		level WARN
	}
}

:80 {
	root * /var/www/html/
	php_fastcgi 127.0.0.1:9000 {
		trusted_proxies 0.0.0.0/0
	}
	file_server
	encode zstd gzip
}
