{
	auto_https off
	admin off
	log {
		level WARN
	}
	servers {
		trusted_proxies static 0.0.0.0/0 ::/0
	}
}

:80 {
	root * /var/www/html/
	php_fastcgi localhost:9000
	file_server
	encode zstd gzip
}

# Internal healthcheck
:9999 {
	handle /health {
		respond "OK" 200
	}
}
